# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/

# VS Code
.vscode/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# PyInstaller
dist/
build/
*.spec

# Python virtual environment
venv/
ENV/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Misc
*.swp
*.swo
*.tmp

# Backend model weights and state
backend/yolov8n-pose.pt
