[Unit]
Description=YOLOv8 Pose Detection System
After=network.target

[Service]
Type=simple
User=julius
WorkingDirectory=/home/julius/Documents/Human-Detection/backend

ExecStart=/home/julius/Documents/Human-Detection/backend/start_server.sh

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target